<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Routine Optimizer!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">

<body>
    <header>
        <nav>
            {{#if logged_in}}
            <a href="/profile">profile</a> |
            <button class="no-button" id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
            <a>How it works</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>

